.create-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../img/background_icon.png');
    background-size: auto;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #FAFFFF;
}

.create-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-icon {
    width: 50px;
    height: 50px;
    background-image: url('../img/preview_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: absolute;
    left: 80px;
}
.preview-icon:hover {
    cursor: pointer;
}

.progress-bar {
    width: 850px;
    height: 50px;
    background-image: url('../img/progress_cover.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px auto; 
}

.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.left {
    left: 30px;
    background-image: url('../img/previous_button.png');
}

.right {
    right: 15px;
    background-image: url('../img/next_button.png');
}


@font-face {
    font-family: 'Handlee';
    src: url(../font/Handlee.ttf);
}

.content-container {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 100%; 
}

.photo-container {
    width: 300px; 
    height: 300px; 
    background-image: url('../img/cover_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left:230px;
}

.form-cover {
    font-family: 'Handlee';
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
    width: 500px;
}

.form-group-cover {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 35px 35px 35px -30px; 
    width: 100%; 
}

.form-group-cover label {
    font-family: 'Handlee';
    font-size: 30px;
    color: #000;
    -webkit-text-stroke: 0.5px #000;
    width: 120px; 
    margin-right: 40px; 
    text-align: right; 
}

.form-group-cover input[type="text"],
.form-group-cover textarea {
    flex: 1; 
    padding: 13px;
    margin-top: 5px;
    background-color: rgba(245, 245, 245, 0.16); 
    border-radius: 10px;
    border: 1px solid #a3a3a3; 
}

.form-group-cover input[type="file"]{
    flex: 1; 
    padding: 10px;
    margin-top: 5px;
    background-color: rgba(245, 245, 245, 0.16); 
    border-radius: 10px;
    border: 1px solid #a3a3a3; 
}

input[type="text"],
textarea {
    border: none; 
}

.form-group-cover textarea {
    height: 100px; 
    resize: none; 
}
